* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#about{
  background-color: #898980;
}

#chat{
  background-color: #898980;
}
#footer{
  background-color: #898980;
}

.bubble{
  position: relative;
  background: #00aabb;
  border-radius: .4em;
  padding: 1px;
  margin: 4px;

}
.bubble.left:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 17px solid transparent;
  border-right-color: red;
  border-left: 0;
  margin-top: -17px;
  margin-left: -17px;
}

.bubble.right:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 17px solid transparent;
  border-left-color: #00aabb;
  border-right: 0;
  margin-top: -17px;
  margin-right: -17px;
}

/*
.triangle-border {
  position:relative;
  padding:2px;
  margin:1em 0 3em;
  border:2px solid #5a8f00;
  color:#333;
  background:#fff;
   css3 
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */
/*
.triangle-border.left {
  margin-left:10px;
}
*/
/* Variant : for right positioned triangle
------------------------------------------ */
/*
.triangle-border.right {
  margin-right:10px;
}

.triangle-border::before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width 
  left:40px;  controls horizontal position 
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#5a8f00 transparent;
   reduce the damage in FF3.0 
  display:block;
  width:0;
}*/

/* creates the smaller  triangle 
.triangle-border::after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width 
  left:47px;  value = (:before left) + (:before border-left) - (:after border-left) 
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 
  width:0;
}


 Variant : left
------------------------------------------ 
.triangle-border.left::before {
  top:10px; /* controls vertical position 
  bottom:auto;
  left:-30px; /* value = - border-left-width - border-right-width 
  border-width:15px 30px 15px 0;
  border-color:transparent #5a8f00;
}
/* creates the smaller  triangle 
.triangle-border.left::after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) 
  bottom:auto;
  left:-21px; /* value = - border-left-width - border-right-width 
  border-width:9px 21px 9px 0;
  border-color:transparent #fff;
}

 Variant : right
------------------------------------------ 

/* creates the larger triangle 
.triangle-border.right::before {
  top:10px; /* controls vertical position 
  bottom:auto;
  left:auto;
  right:-30px; /* value = - border-left-width - border-right-width 
  border-width:15px 0 15px 30px;
  border-color:transparent #5a8f00;
}

/* creates the smaller  triangle 
.triangle-border.right::after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) 
  bottom:auto;
  left:auto;
  right:-21px; /* value = - border-left-width - border-right-width 
  border-width:9px 0 9px 21px;
  border-color:transparent #fff;
}

*/


.title {
  color: #ffffff;
  text-align: center;
  font-weight: 100;
}

.wrapper {
  border-radius: 10px;
  margin-left: 50%;
  height: 520px;
  width: 100%;
  overflow: hidden;
  background-color: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
          box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wrapper .inner {
  overflow: scroll;
  height: 520px;
  width: 100%;
  padding-top: 64px;
  background: #f2f2f2;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.wrapper .inner::-webkit-scrollbar {
  width: 0 !important;
}
.wrapper .inner .content {
  padding: 10.6666666667px;
  position: relative;
  margin-bottom: 32px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 100;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav .default-nav {
  height: 64px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 110;
  background-color: #42dca3;
  border-bottom: 3px solid #42dca3;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav .default-nav .main-nav {
  position: absolute;
  left: 0;
  width: 100%;
  height: 64px;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav .default-nav .main-nav .toggle {
  height: 32px;
  width: 32px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_arrow_back_white_48dp.png);
  background-size: contain;
  margin: 16px;
  float: left;
}
.nav .default-nav .main-nav .toggle:hover {
  cursor: pointer;
}
.nav .default-nav .main-nav .options {
  height: 32px;
  width: 32px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_more_vert_white_48dp.png);
  background-size: contain;
  margin: 16px;
  position: absolute;
  right: 0;
}
.nav .default-nav .main-nav .options:hover {
  cursor: pointer;
}
.nav .default-nav .main-nav .main-nav-item {
  float: left;
  height: 64px;
  margin-right: 50px;
  position: relative;
  line-height: 64px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav .default-nav .main-nav .main-nav-item .main-nav-item-link {
  display: block;
  position: relative;
  height: 64px;
  width: 100%;
  text-align: center;
  line-height: 64px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: #ffffff;
  /* box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.1); */
}
.bottom .input {
  height: 64px;
  background: #ffffff;
  border: none;
  width: calc(100% - 64px);
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 5%;
  resize: none;
  overflow: scroll;
  padding-top: 24px;
  font-weight: 300;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.bottom .input:focus {
  outline: none;
}
.bottom .input::-webkit-scrollbar {
  width: 0 !important;
}
.bottom .send {
  position: fixed;
  height: 42.6666666667px;
  width: 42.6666666667px;
  border-radius: 50%;
  border: 0;
  background: #42dca3;
  color: #ffffff;
  bottom: 10.6666666667px;
  right: 10.6666666667px;
}
.bottom .send:before {
  content: '';
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_send_white_48dp.png) no-repeat center center;
  background-size: 25.6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bottom .send:focus {
  outline: none;
}
.bottom .send:hover {
  cursor: pointer;
}

.message-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 10.6666666667px 0;
  padding: 10.6666666667px 0;
}
.message-wrapper .circle-wrapper {
  height: 42.6666666667px;
  width: 42.6666666667px;
  border-radius: 50%;
}
.message-wrapper .text-wrapper {
  padding: 10.6666666667px;
  min-height: 42.6666666667px;
  width: 90%;
  margin: 0 10.6666666667px;
  -webkit-box-shadow: 0px 1px 0px 0px grey;
          box-shadow: 0px 1px 0px 0px grey;
  border-radius: 2px;
  font-weight: 300;
  position: relative;
  /* word-break: break-all; */
  opacity: 0;
}
.message-wrapper .text-wrapper:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}
.message-wrapper.them .circle-wrapper, .message-wrapper.them .text-wrapper {
  background: #42dca3;
  float: left;
  color: white;;
}
.message-wrapper.them .text-wrapper:before {
  border-width: 0 10px 10px 0;
  border-color: transparent #42dca3 transparent transparent;
  position: absolute;
  top: 0;
  left: -9px;
}
.message-wrapper.me .circle-wrapper, .message-wrapper.me .text-wrapper {
  background: #42dca3;
  float: right;
  color: #333333;
}
.message-wrapper.me .text-wrapper {
  background: #ffffff;
}
.message-wrapper.me .text-wrapper:before {
  border-width: 10px 10px 0 0;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -9px;
}

@media (max-width: 560px) {
  .wrapper {
    width: 100%;
    height: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .wrapper .inner {
    height: 100%;
    height: 100vh;
  }
}


