
form{
	/*border: 1px solid blue;*/
	width: 40%;
	border-style:dashed;
	margin-top: 15%;
	margin-left: 30%;
	background-color: rgb(242, 242, 242);
	border-radius: 10px;
}
form .registro{
	font-weight: bold;
	text-align: center;

}
.registro input[value=Entrar]{
	font-weight: bold;
	background-color: rgb(0, 204, 204);
	width: 15%;
	height: 5%;
	border-radius: 5px;
}
.registro input[value=Entrar]:hover{
	font-weight: bold;
	background-color: rgb(255, 255, 255);
	border-color: rgb(0, 204, 204);
	width: 15%;
	height: 5%;
	border-radius: 5px;
}
footer{
	/*border: 1px solid red;*/
	width: 50%;
	height: 10%;
	margin: 0 auto;
}
#logotipo{
	display: block;
	margin: 0 auto;
	height: 100%;
}
