#contenedor{
	width: 80%;
	margin: 0 auto;
}
#contenedor header{
	background-color: blue;
}
#contenedor nav#menu{
	height: 10%;
	background-color: green;
}

footer{
	/*border: 1px solid red;*/
	width: 50%;
	height: 10%;
	margin: 0 auto;
}
#logotipo{
	display: block;
	margin: 0 auto;
	height: 100%;
}
